  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="Nazwa" name="name">
      <label for="floatingInput">Nazwa</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.category}}" placeholder="Kategoria" name="category">
      <label for="floatingInput">Kategoria</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.time}}" placeholder="Czas" name="time">
      <label for="floatingInput">Czas</label>
    </div>
  </div>
    <div class="col-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" value="{{this.price}}" placeholder="Cena" name="price">
      <label for="floatingInput">Cena</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.img_link}}" placeholder="Link" name="img_link">
      <label for="floatingInput">IMG-link</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>